<h2>
	
	<% @pics.each do |pic| %>
		
		<div class="stolen-frosty span4 text-center">
			
			<h1 class="stolen-h1">
			Lesson: <%= pic.lesson %>
			</h1>

			<br />
			
			</h1>

		<%= link_to pic_path(pic) do%>

		<%= image_tag pic.image %>

		<% end %>


			<br />
			
			<h2>
			Emotion: <%= pic.emotion %>
			</h2>

			<br />
			
			<h2>
			Learned: <%= pic.learned %>
			</h2>

			<br />
		</div>

	<% end %>



</h2>